.chat-Input-Robot{
        display: flex;
        align-items: start;
      }
      .chat-Input-User{
        display: flex;
        justify-content: end;
        align-items: start;

      }
      .chat-Input-Message{
        background-color: rgb(238, 238, 238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;
        margin-top: 10px;
      }
      .chat-message-profile{
        width: 45px;
        margin-top: 10px;
      }